{% extends 'base.html.twig' %}

{% block title %}Bienvenue à SPM!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../assets/components.css">
    <link rel="stylesheet" href="../assets/icons.css">
    <link rel="stylesheet" href="../assets/responsee.css">
    <link rel="stylesheet" href="../assets/owl-carousel/owl.carousel.css">
   {# <link rel="stylesheet" href="../assets/owl-carousel/owl.theme.css">#}

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="../assets/newstyle.css">
    <script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>
    <h1>{{ title }}</h1>

    <header style="padding: 0px 0 0px;
    background-size: 100%;
    margin-bottom: -100px;
}">
        <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center"
             style="position: relative; top: -9em;">
            <div class="item"{# style="position: relative;
    left: -22em;"#}>
                <div class="s-12"  style=" height: 600PX; ">

                      <video  style="width: 100%;
  height: auto;" src="../assets/production.mov" autoplay loop playsinline muted></video></div>

                </div>
            </div>
        </div>
    </header>

    <section class="section background-white">
        <h2 class="text-size-50  text-m-size-40 text-center">{{'Présentation'|trans}}</h2>
        <hr class="break-small background-primary break-center">

        <div class="line text-center">
            <div class="margin">
                <div class="s-12 m-12 l-12 margin-m-bottom">
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{'La Sociéte Psychanalitique Marocaine'|trans}}</h2>
                        <p >{{'Fondée en Décembre 2001, la Société Psychanalytique Marocaine s’est donnée pour but de'|trans }}
                        {{'promouvoir et de développer la psychanalyse au Maroc. Elle vise à assurer la formation des'|trans }}
                       {{'psychanalystes tout en veillant au respect de l’éthique. Elle se propose également d’être un'|trans }}
                       {{'lieu de transmission de la psychanalyse, ouvert à tous et non aux seuls initiés lieu de'|trans }}
                       {{'diffusion d’un savoir dont la particularité est de n’être jamais constitué une fois pour'|trans }}
                       {{'toutes mais qui est sans cesse à recréer à la lumière de ce que nous enseigne l’inconscient'|trans }}
                       {{'et au travers aussi bien de la clinique que de la réalité socio-culturelle environnante'|trans }} </p>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section class="section background-white">
        <h2 class="text-size-50  text-m-size-40 text-center">{{ 'Status'|trans }}</h2>
        <hr class="break-small background-primary break-center">
        <p class="h2  text-line-height-1 text-center" >{{'voté le 07/12/2001, et modifié lors de l\'assemblée générale'|trans }}{{'extraordinaire du 02/02/2008'|trans }}</p>



        <div class="line text-center">
            <div class="margin">
                <div class="s-12 m-12 l-12 margin-m-bottom">
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 1:</h2>


                        <p >{{'A l\'initiative des membres fondateurs réunis en Assemblée Constitutive le 07 décembre 2001'|trans }}
                        {{'à Dar M\'rini - Rabat, il est créé une Association dénommée Société Psychanalytique Marocaine'|trans }}

                        {{'conformément'|trans }}
                        {{ 'aux dispositions'|trans }}
                        {{ 'du dahir'|trans }}
                        nº 1-58-376
                        {{ 'du 3 Joumada I'|trans }}, 1378 (15'
                        {{'novembre 1958) tel qu\'il a été modifié par le dahir portant loi nº 1-73-285 du 6 Rabi\' I'|trans }}
                        {{'1393 (10 avril 1973) réglementant le droit d\'association. Les membres fondateurs sont les'|trans }}
                        {{'personnes suivantes : Abdel Jalil BENNANI, Khalid EL ALJ, Abdeslam DACHMI, Mohamed JAMAI,'|trans }}
                        {{'Ahmed Farid MERINI, Abdellah OUARDINI, Mohamed Hachem TYAL. Le siège de la SPM est situé à'|trans }}
                        {{'Rabat et domicilié à la Boite Postale de l\'Association. Il pourra être transféré en tous'|trans }}
                        {{'lieux dans la même ville ou dans une autre ville par décision de l\'Assemblée Générale'|trans }}
                        {{'Ordinaire.'|trans }}</p>




                    </div>
                    <br>
                </div>


                <p class="h2  text-primary text-line-height-1 text-center">I.{{ 'BUTS ET COMPOSITION DE LA SPM'|trans }}</p>
                <br>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary" >
                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 2:{{'Buts et objectifs'|trans }}</h2>



                        <p >{{'d\'assurer la formation des psychanalystes au Maroc ;'|trans }}
                        {{'de promouvoir et de développer la psychanalyse au Maroc ;'|trans }}
                        {{'de veiller au respect de l\'éthique dans le cadre de cette formation.'|trans }}
                        {{'Pour parvenir à ses objectifs, la SPM se propose de mettre en place les moyens pour assurer'|trans }}
                        {{'la psychanalyse personnelle'|trans }}
                        {{'la pratique de " contrôle " ;'|trans }}
                        {{'la formation théorique ;'|trans }}
                        {{'l\'habilitation à la pratique de la cure psychanalytique par une commission composée de trois'|trans }}
                        {{'praticiens confirmés.'|trans }}
                        {{'Les praticiens qui seront amenés à dispenser une formation seront soit des praticiens'|trans }}
                        {{'marocains, soit des praticiens étrangers. La SPM vise ainsi à faire bénéficier les futurs'|trans }}
                        {{'psychanalystes de la formation la plus ouverte et la plus large possible, tenant compte en'|trans }}
                        {{'cela des différents développements qu\'a connu la psychanalyse depuis sa fondation par'|trans }}
                        {{'Freud'|trans }}</p>





                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"  >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 3: {{'Les moyens d\'action de la SPM sont'|trans}} :</h2>


                        <p >{{'La SPM veillera à'|trans }}
                        {{'mettre en place les documents de base réglementant les différentes activités de'|trans }}
                        {{'l\'Association.'|trans }}
                        {{'instituer des groupes de travail (cartels) composés de quatre personnes au moins, en vue'|trans }}
                        {{'d\'assurer un travail régulier entre les membres de l\'Association.'|trans }}
                        {{'organiser des séminaires, des conférences, des colloques, des congrès nationaux et'|trans }}
                        {{'internationaux.'|trans }}
                        {{'organiser la tenue de journées annuelles de l\'Association et, si possible, semestrielles.'|trans }}
                        {{'assurer la publication des travaux de ses membres qui réunissent les conditions de'|trans }}
                        {{'publication.'|trans }}
                        {{'promouvoir différentes actions culturelles au profit de ses membres.'|trans }}
                        {{'développer le champ de la recherche en psychanalyse.'|trans }}
                        {{'encourager le travail sur les traductions françaises, anglaises ou espagnoles de textes'|trans }}
                        {{'psychanalytiques allemands. Elle favorisera également toute initiative susceptible d\'aider à'|trans }}
                        {{'la traduction en arabe des textes psychanalytiques.'|trans }}
                        {{'assurer des contacts périodiques avec tous les organismes ou associations ayant des'|trans }}
                        {{'activités similaires.'|trans }}
                        {{'créer une bibliothèque et se doter d\'une banque de données informatisée.'|trans }}</p>




                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 4: {{'Adhésion et qualité de membre'|trans}}</h2>
                        <p >{{'Les Membres Adhérents de la'|trans }} SPM :
                        {{'Peuvent être Membres Adhérents de la SPM :'|trans }}
                        {{'les praticiens de la santé mentale au Maroc ;'|trans }}
                        {{'les psychanalystes exerçant à l\'étranger et inscrits dans un processus de formation'|trans }}
                        {{'analytique et dont la pratique fait l\'objet d\'une reconnaissance, soit dans le cadre d\'une'|trans }}
                        {{'institution, soit par leurs travaux'|trans }}
                        {{'Pour être Membre Adhérent, il faut présenter sa candidature au Bureau de l\'Association, être'|trans }}
                        {{'agréé par celui-ci, avoir payé sa cotisation annuelle et se soumettre aux décisions de'|trans }}
                        {{'l\'Association conformément aux dispositions statutaires et réglementaires.'|trans }}
                        {{'Seuls les membres adhérents sont habilités à voter dans les différentes institutions de la'|trans }}
                        {{'SPM (Assemblée Générale Ordinaire, Assemblée Générale Extraordinaire…)'|trans }}
                        {{'Les Membres Associés de la SPM :'|trans }}
                        {{'Peuvent être Membres Associés :'|trans }}
                        {{'les personnes qui, par leurs préoccupations professionnelles ou par leurs recherches'|trans }}
                        {{'personnelles sont intéressées par la psychanalyse ;'|trans }}
                        {{'les étudiants en formation en psychiatrie, en psychologie ou dans une autre branche de la'|trans }}
                        {{'santé mentale.'|trans }}
                        {{'Pour être Membre Associé, il est nécessaire d\'avoir le parrainage de deux membres du Bureau.'|trans }}
                        {{'Les Membres associés n\'ont pas de voix élective. Les Membres Associés doivent s\'acquitter'|trans }}
                        {{'d\'une cotisation annuelle dont le montant sera fixé par le Bureau.'|trans }}
                        {{'Les Membres Fondateurs :'|trans }}
                        {{'Ce sont les personnes ayant créé l\'Association.'|trans }}
                        {{'Les Membres Bienfaiteurs :'|trans }}
                        {{'Ce sont les personnes qui apportent leur soutien moral, matériel ou technique à'|trans }}
                        {{'l\'Association.'|trans }}
                        {{'Pour être Membre Bienfaiteur, il faut être agréé par le Bureau et avoir réglé sa cotisation'|trans }}
                        {{'annuelle.'|trans }}
                        {{'Les Membres Honoraires :'|trans }}
                        {{'Ce sont les personnes qui se sont distinguées par leurs travaux et qui soutiennent'|trans }}
                        {{'l\'Association.'|trans }}
                        {{'Ils seront choisis sur proposition du Bureau.'|trans }}
                        {{'Les Membres Correspondants :'|trans }}
                        {{'Ce sont des personnes qui sont chargées de diffuser les travaux de l\'Association et'|trans }}
                        {{'favoriser les relations et les échanges avec d\'autres Associations au niveau international.'|trans }}
                        {{'Ils peuvent être proposés par le Bureau ou admis, suite à leur propre demande, après'|trans }}
                        {{'acceptation du Bureau.'|trans }}</p>


                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 5: {{'Démission, exclusion'|trans}}</h2>
                        <p >{{'La qualité de Membre Adhérent de la SPM se perd : par décès  par démission'|trans }}
                        {{'par radiation prononcée par le Bureau aux 2/3 de ses voix, soit pour refus ou défaut de'|trans }}
                        {{'paiement régulier des cotisations, soit pour motif grave, l\'intéressé ayant été'|trans }}
                        {{'préalablement appelé à fournir des explications.'|trans }}
                        {{'Pourront être exclus de la Société les membres :'|trans }}
                        {{'ne participant pas à ses activités ;'|trans }}
                        {{'ne respectant pas l\'éthique de la profession ;'|trans }}
                        {{'ne payant pas leur cotisation.'|trans }}
                        {{'La radiation doit obligatoirement être entérinée par l\'AG la plus proche.'|trans }}</p>


                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 6: {{ 'Soutiens'|trans }}</h2>
                        <p >{{'La Société peut recevoir des soutiens, sur le plan théorique et matériel, venant de'|trans }}
                        {{'personnes ou d\'Associations marocaines ou étrangères, susceptibles de l\'aider à atteindre'|trans }}
                        {{'ses buts et ses objectifs dans le respect des lois en vigueur.'|trans }}</p>


                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"     >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 7: {{ 'Affiliation'|trans }}</h2>
                        <p >{{'La Société peut être affiliée à d\'autres Sociétés ou Associations internationales après'|trans }}
                        {{'décision du Bureau. Elle pourra aussi établir des relations de partenariat avec ces'|trans }}
                        {{'institutions'|trans }}</p>
                    </div>
                    <br>
                </div>
                <p class="h2  text-primary text-line-height-1 text-center">II.{{ 'ADMINISTRATION ET FONCTIONNEMEN'|trans }}T </p>
                <br>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 8: {{ 'Administration'|trans }}</h2>
                        <p >{{'L\'administration de la Société Psychanalytique Marocaine est dévolue à un Bureau. Le'|trans }}
                        {{'programme d\'activités de la SPM est défini par celui-ci. Le Bureau est investi des pouvoirs'|trans }}
                        {{'les plus étendus pour l\'administration et le contrôle financier de la SPM.'|trans }}
                        {{'Le Bureau est élu pour trois ans par l\'Assemblée Générale et comprend:'|trans }}
                        {{'un Président'|trans }}
                        {{'un Vice-Président'|trans }}
                        {{'un Secrétaire Général'|trans }}
                        {{'un Secrétaire Général Adjoint'|trans }}
                        {{'un Trésorier'|trans }}
                        {{'un Trésorier Adjoint'|trans }}
                        {{'un conseiller'|trans }}</p>
                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"  >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin"> {{ 'ARTICLE'|trans }} 9: {{ 'Attributions des Membres du Bureau'|trans }}</h2>
                        <p >{{'Le Président :'|trans }}
                        {{'Il est le responsable et le représentant de l\'Association. Il préside les Assemblées'|trans }}
                        {{'Générales, les réunions du Bureau. Il veille à la bonne marche de l\'Association, à'|trans }}
                        {{'l\'exécution des décisions de l\'Assemblée Générale, au respect des directives du Bureau et'|trans }}
                        {{'des statuts. Le Président signe tous les documents et procès-verbaux.'|trans }}
                        {{'La fonction de Président ne peut être assumée plus de six ans d\'affilée. Un ancien Président'|trans }}
                        {{'peut cependant assumer de nouveau la présidence trois ans après la fin de son dernier'|trans }}
                        {{'mandat.'|trans }}
                        {{'Le Vice-Président :'|trans }}
                        {{'Il seconde le Président dans ses tâches et le remplace en cas d\'absence ou d\'empêchement'|trans }}
                        {{'avec les mêmes pouvoirs que les siens.'|trans }}
                        {{'Le Secrétaire Général :'|trans }}
                        {{'Il assure l\'application des statuts et du règlement. Il effectue l\'envoi des convocations et'|trans }}
                        {{'la diffusion de l\'ordre du jour pour les Assemblées Générales et les réunions. Il rédige les'|trans }}
                        {{'procès-verbaux et signe éventuellement les correspondances de l\'Association. Il a la garde'|trans }}
                        {{'des registres de l\'Association.'|trans }}
                        {{'Le Secrétaire Général Adjoint:'|trans }}
                        {{'Il seconde le Secrétaire Général dans l\'accomplissement de sa mission et le remplace en cas'|trans }}
                        {{'d\'absence ou d\'empêchement.'|trans }}
                        {{'Le Trésorier:'|trans }}
                        {{'Il a la garde des fonds de l\'Association et des livres de compte. IL effectue les recettes'|trans }}
                        {{'et les dépenses, recouvre les cotisations, donne quittance et reçu ; Il soumet à l\'Assemblée'|trans }}
                        {{'Générale le rapport financier de chaque exercice et prépare le budget annuel. Il dépose dans'|trans }}
                        {{'les institutions choisies par le Bureau les deniers de l\'Association et les gère'|trans }}
                        {{'conformément aux Statuts de celle-ci.'|trans }}
                        {{'Le Trésorier Adjoint:'|trans }}
                        {{'Il seconde le Trésorier dans sa tâche avec les mêmes pouvoirs et le remplace en cas'|trans }}
                        {{'d\'absence ou d\'empêchement.'|trans }}</p>
                    </div>
                </div>


                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 10: {{'Réunions'|trans}}</h2>
                        <p >{{'Le Bureau est élu pour trois ans. Il se réunit tous les six mois au minimum, et chaque'|trans }}
                        {{'fois qu\'il est convoqué par son Président'|trans }}
                        {{'La moitié plus un des membres présents du Comité Directeur sont nécessaires pour la validité:'|trans }}
                        {{'des délibérations. Les délibérations sont prises à la majorité des voix. A nombre égal de:'|trans }}
                        {{'voix, celle du Président compte double. Ces réunions sont constatées par des procès-verbaux:'|trans }}
                        {{'En cas de défection d\'un ou de plusieurs membres du Bureau d\'autres membres adhérents:'|trans }}
                        {{'pourront les remplacer. Leur intégration au Bureau se fera par simple cooptation et sera:'|trans }}
                        {{'soumise à l\'approbation de la prochaine Assemblée Générale:'|trans }}</p>
                    </div>
                </div>



                <div class="s-12 m-12 l-12 margin-m-bottom">
                    <div class="padding-2x background-primary">
                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 11: {{'Le règlement intérieur'|trans}}</h2>
                        <p >{{'L\'adhésion aux présents Statuts emporte engagement de se conformer aux stipulations des'|trans }}
                       {{'présents statuts, ainsi qu\'au règlement intérieur de la SPM.'|trans }}</p>
                    </div>
                </div>


                <div class="s-12 m-12 l-12 margin-m-bottom"    >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 12: {{ 'Le Conseil Consultatif'|trans }}</h2>
                        <p >{{'Le Conseil Consultatif a un pouvoir consultatif : Il donne avis et émet toutes suggestions'|trans }}
                        {{'sur les questions qui lui sont soumises par le Président ou le Vice-président ou par le'|trans }}
                        {{'Bureau Exécutif en matière de politique générale de la Société et sur les grandes questions'|trans }}
                        {{'pédagogiques, stratégiques et financières la concernant.'|trans }}
                        {{'Il se compose des membres fondateurs et de 3 membres au moins du bureau sortant. Ces membres'|trans }}
                        {{'sont élus à bulletin secret à chaque renouvellement du Bureau Exécutif. Un membre du Conseil'|trans }}
                        {{'Consultatif ne peut pas être simultanément membre du Conseil et membre du Bureau Exécutif.'|trans }}
                        {{'La durée des fonctions des membres du Conseil Consultatif est de deux années que le Bureau'|trans }}
                        {{'Exécutif peut renouveler.'|trans }}
                        {{'Le Conseil Consultatif se réunit au moins une fois par an et à chaque fois qu\'il est'|trans }}
                        {{'convoqué par le Président de l\'Association, qui assiste aux dites réunions du Conseil'|trans }}
                        {{'Consultatif s\'il y ait invité par le celui-ci. Peut y assisté également le Secrétaire'|trans }}
                        {{'Général en vue d\'apporter assistance aux travaux du Conseil. Ils ne participent pas aux'|trans }}
                        {{'votes.'|trans }}
                        {{'Le Conseil Consultatif veille au respect des orientations et objectifs fondamentaux de la'|trans }}
                        {{'SPM'|trans }}
                        {{'Il veille à l\'équilibre des pouvoirs au sein de la SPM'|trans }}
                        {{'Il arbitre les divergences éventuelles au sein du Bureau Exécutif, et entre les membres de'|trans }}
                        {{'la SPM'|trans }}</p>

                    </div>
                </div>




                <div class="s-12 m-12 l-12 margin-m-bottom"     >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 13: {{'Assemblées Générales'|trans}}</h2>
                        <p >{{'L\'Assemblée Générale de la Société Psychanalytique Marocaine comprend les Membres'|trans }}
                        {{'Adhérents. Pourront néanmoins participer aux délibérations à titre d\'observateurs'|trans }}
                        {{'les Membres Honoraires'|trans }}
                        {{'les Membres Bienfaiteurs'|trans }}
                        {{'les Membres Adhérents'|trans }}
                        {{'les Membres Associés'|trans }}
                        {{'L\'Assemblée Générale Ordinaires se réunit une fois par an à la fin des journées annuelles ;'|trans }}
                        {{'Son ordre du jour sera établi par le Bureau mais il pourra être complété par quelques points'|trans }}
                        {{'rajoutés par les membres de l\'Assemblée. L\'Assemblée Générale entend les rapports sur le'|trans }}
                        {{'fonctionnement de la Société de Psychanalytique Marocaine et sur sa situation financière.'|trans }}
                        {{'Elle approuve les comptes de l\'exercice clos, vote le budget de l\'exercice suivant, délibère'|trans }}
                        {{'sur les questions mises à l\'ordre du jour. Elle procède à l\'élection du nouveau Bureau tous'|trans }}
                        {{'les trois ans.'|trans }}
                        {{'L\'Assemblée Générale Ordinaire procède également à l\'examen, à l\'adoption ou au rejet du'|trans }}
                        {{'projet de règlement intérieur qui lui aura été soumis.'|trans }}
                        {{'Les délibérations sont prises à la majorité des voix des membres présents. Il est dressé'|trans }}
                        {{'procès-verbal de chaque réunion de l\'Assemblée Générale.'|trans }}
                        {{'Une Assemblée Générale Extraordinaire peut être convoquée si nécessaire par le Président ou'|trans }}
                        {{'par les 2/3 des Membres du Bureau ou encore par les 2/3 de ses membres à des fins de'|trans }}
                        {{'modification des Statuts de l\'Association ou de sa dissolution'|trans }}</p>
                    </div>
                    <br>
                </div>
                <p class="h2  text-primary text-line-height-1 text-center">III.{{ 'RESSOURCES DE LA SPM'|trans }}</p>
                <br>
                <div class="s-12 m-12 l-12 margin-m-bottom"     >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 14:</h2>
                        <p >{{'La Société Psychanalytique Marocaine pourra posséder tous les biens nécessaires au but'|trans }}
                        {{'qu\'elle poursuit et à l\'œuvre qu\'elle se propose d\'accomplir, dans les limites fixées par la'|trans }}
                        {{'Loi.'|trans }}</p>
                    </div>
                </div>

                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 15:</h2>
                        <p >{{'Les ressources annuelles de l\'Association se composent :'|trans }}
                        {{'des cotisations et souscriptions de ses membres'|trans }}
                        {{'des subventions qui pourront lui être accordées'|trans }}
                        {{'des intérêts de revenus des biens non compris dans le fonds de réserve'|trans }}
                        {{'des dons et legs autorisés'|trans }}
                        {{'des recettes de toute manifestation organisée par l\'Association, dans le cadre de la'|trans }}
                        {{'législation en vigueur.'|trans }}</p>
                    </div>
                </div>

                <div class="s-12 m-12 l-12 margin-m-bottom"    >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin">{{ 'ARTICLE'|trans }} 16:</h2>
                        <p >{{'Les dépenses de la Société Marocaine de Psychanalyse sont ordonnées par le Président après'|trans }}{{'accord du Bureau.'|trans }}</p>
                    </div>
                </div>

                <div class="s-12 m-12 l-12 margin-m-bottom"    >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin"> {{ 'ARTICLE'|trans }} 17:</h2>
                        <p >{{'Il est tenu au jour le jour une comptabilité des deniers par recettes et par dépenses, et'|trans}}
                       {{'s\'il y a lieu une comptabilité matières.'|trans}}</p>

                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"   >
                    <div class="padding-2x background-primary" >

                        <h2 class="text-thin">  {{ 'ARTICLE'|trans }} 18:</h2>
                        <p >{{'Les ordres de retrait de fonds sont signés conjointement par le président et le trésorier'|trans}}
                        {{'de l\'Association ou à défaut le vice président et le trésorier adjoint.'|trans}}

                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"    >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin"> {{ 'ARTICLE'|trans }} 19:</h2>
                        <p >{{'Les fonctions de membres du Comité Directeur sont gratuites. Toutefois ils peuvent'|trans}}
                        {{'bénéficier du remboursement de leurs frais de déplacement ou de toute autre dépense'|trans}}
                        {{'effectuée pour le compte de l\'Association.'|trans}}</p>
                    </div>
                    <br>
                </div>
                <p class="h2  text-primary text-line-height-1 text-center">IV. {{ 'MODIFICATIONS DES STATUTS ET DISSOLUTION'|trans }}</p>
                <br>
                <div class="s-12 m-12 l-12 margin-m-bottom"     >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin"> {{ 'ARTICLE'|trans }} 20:</h2>
                        <p >{{'Les Statuts ne peuvent être modifiés que par l\'Assemblée Générale Extraordinaire avec'|trans}}
                        {{'l\'approbation des 2/3 des membres. Au cas où le quorum n\'est pas atteint, une deuxième'|trans}}
                        {{'Assemblée Générale est convoquée au moins 15 jours avant par lettre recommandée. Les'|trans}}
                        {{'décisions sont alors prises à la majorité simple des présents.'|trans}}</p>
                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom"     >
                    <div class="padding-2x background-primary"  >

                        <h2 class="text-thin"> {{ 'ARTICLE'|trans }} 21:</h2>
                        <p >{{'La dissolution de la Société Marocaine de Psychanalyse ne pourra être prononcée qu\'en'|trans}}
                        {{'Assemblée Générale Extraordinaire, convoquée à cet effet un mois à l\'avance, et la'|trans}}
                        {{'délibération doit être prise à la majorité des deux tiers des membres présents'|trans}}
                        {{'En cas de dissolution, l\'Assemblée Générale désigne un ou plusieurs commissaires chargés de'|trans}}
                        {{'la liquidation des biens de l\'œuvre.'|trans}}
                        {{'Elle attribue l\'actif net à une Association poursuivant le même objet ou à défaut à une'|trans}}
                        {{'oeuvre de bienfaisance.'|trans}}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <br>
    <br>

    <section class="section background-white">
        <div class="line">
            <h2 class="text-size-40 margin-bottom-30 text-center">{{ 'Bureau de SPM Maroc'|trans }}</h2>
            <hr class="break-small background-primary break-center">

        </div>
        <div class="line text-center">
            <h2 class="text-size-40 margin-bottom-30 text-center">{{ 'Elu le 30/11/2019'|trans }}</h2>
            <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom">
                    <div class="padding-2x background-primary">


                        <h2 class="text-thin"> {{'Président'|trans}}   </h2>
                        <p class="margin-bottom-30">
                            {{ 'Dr Ahmed Farid MERINI'|trans }}
                            <BR> {{ '25, Av Atlas, Agdal - Rabat'|trans }}
                            <BR> {{'Tél et Fax : 0537 675524'|trans}}
                            <BR> {{'e-mail : merinif@yahoo.fr'|trans}}</p>

                    </div>
                </div>
                <div class="s-12 m-12 l-6 margin-m-bottom">
                    <div class="padding-2x background-primary">


                        <h2 class="text-thin">{{'Vice-Présidente'|trans}} : </h2>
                        <p class="margin-bottom-30">
                            {{ 'Nadia JAMAI'|trans }}
                            <BR> {{ '201, rue Mostapha Maani - Casablanca'|trans }}
                            <BR> {{'Tél :0522 221873'|trans}}
                            <BR> {{'e-mail : nadia.jamai@live.fr'|trans}}</p>

                    </div>
                </div>
                <div class="s-12 m-12 l-12 margin-m-bottom">
                    <div class="padding-2x background-primary">


                        <h2 class="text-thin"> {{'Secrétaire Général Adjoint'|trans}} : </h2>
                        <p class="margin-bottom-30">
                            {{'Abdellah Ouardini'|trans }}</p>

                    </div>
                </div>
                <div class="s-12 m-12 l-6 margin-m-bottom">
                    <div class="padding-2x background-primary">


                        <h2 class="text-thin">{{'Secrétaire Générale'|trans}} :  </h2>
                        <p class="margin-bottom-30">
                            {{ 'Amal BOUHMIDA-BISES'|trans }}
                            <BR>{{'Résidence Nesrat, 12 Lot El Malid, Maarif - Casablanca'|trans}}
                            <BR> {{'Tél : 05-37-20-22-13'|trans}}
                            <BR> {{'e-mail : amal_bouhmida@hotmail.com'|trans}}</p>

                    </div>
                </div>


                <div class="s-12 m-12 l-6 margin-m-bottom">
                    <div class="padding-2x background-primary">


                        <h2 class="text-thin">{{'Trésorier'|trans}}  : </h2>
                        <p class="margin-bottom-30">
                            {{ 'Mohamed JAMAI'|trans }}
                            <BR> {{ '201, rue Mostapha Maani - Casablanca'|trans }}
                            <BR> {{'Tél :0522 27578'|trans}}
                            <BR> {{'e-mail : m3.jamai@yahoo.com'|trans}}</p>

                    </div>
                </div>



                <h2 class="text-size-40 margin-bottom-30 text-center">{{ 'Elu le 30/11/2019'|trans }}</h2>
                <div class="margin">
                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">
                            <h2 class="text-thin"> {{'Présidente'|trans}} :    </h2>
                            <p class="margin-bottom-30">
                                {{ 'Nadia JAMAI'|trans }}
                                <BR> {{ '201, rue Mostapha Maani - Casablanca'|trans }}
                                <BR> {{'Tél :0522 221873'|trans}}
                                <BR> {{'e-mail : nadia.jamai@live.fr'|trans}}</p>

                        </div>
                    </div>
                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">


                            <h2 class="text-thin">{{'Vice-Présidente'|trans}} : </h2>
                            <p class="margin-bottom-30">
                                {{ 'Nadia JAMAI'|trans }}
                                <BR> {{ '201, rue Mostapha Maani - Casablanca'|trans }}
                                <BR> {{'Tél :0522 221873'|trans}}
                                <BR> {{'e-mail : nadia.jamai@live.fr'|trans}}</p>

                        </div>
                    </div>
                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">

                            <h2 class="text-thin"> {{'1er Vice-Président'|trans}}  </h2>
                            <p class="margin-bottom-30">
                                {{ 'Dr Ahmed Farid MERINI'|trans }}
                                <BR>{{ '25, Av Atlas, Agdal - Rabat'|trans }}
                                <BR> {{'Tél et Fax : 0537 675524'|trans}}
                                <BR> {{'e-mail : merinif@yahoo.fr'|trans}}</p>

                        </div>
                    </div>


                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">


                            <h2 class="text-thin">{{'2ème Vice-Président'|trans}} :</h2>
                            <p class="margin-bottom-30">
                                {{ 'Mohamed JAMAI'|trans }}
                                <BR> {{ '201, rue Mostapha Maani - Casablanca'|trans }}
                                <BR> {{'Tél :0522 27578'|trans}}
                                <BR> {{'e-mail : m3.jamai@yahoo.com'|trans}}</p>

                        </div>
                    </div>
                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">



                            <h2 class="text-thin">{{'Secrétaire Générale'|trans}} : </h2>
                            <p class="margin-bottom-30">
                                {{ 'Amal BOUHMIDA-BISES'|trans }}
                                <BR> {{'Résidence Nesrat, 12 Lot El Malid, Maarif - Casablanca'|trans}}
                                <BR> {{'Tél : 05-37-20-22-13'|trans}}
                                <BR> {{'e-mail : amal_bouhmida@hotmail.com'|trans}}</p>

                        </div>
                    </div>

                    <div class="s-12 m-12 l-3 margin-m-bottom">
                        <div class="padding-2x background-primary">
                            <h2 class="text-thin">{{ 'Assesseur'|trans }} :  </h2>
                            <p class="margin-bottom-30">
                                {{ 'Abdellah Ouardini'|trans }}
                                <BR> {{ '200, Bvd Ziraoui'|trans }}
                                <BR> {{ 'Tel : 0522 274387'|trans }}
                                <BR> {{'e-mail : salma.cherqaoui@live.fr'|trans}}</p>
                        </div>
                    </div>





                    <h2 class="text-size-40 margin-bottom-30 text-center">{{'Le bureau fondateur de la Société Psychanalytique Marocaine S.P.M :'|trans}}</h2>
                    <div class="margin">
                        <div class="s-12 m-12 l-4 margin-m-bottom">
                            <div class="padding-2x background-primary">

                                <p class="margin-bottom-30">
                                    {{'Président'|trans}} : {{ 'J.BENNANI'|trans }}
                                    <BR> {{'Vice Président'|trans}} : {{ 'A.DACHMI'|trans }}
                                    <BR> {{'Secrétaire Général'|trans}} : {{ 'H.TYAL'|trans }}
                                    <BR> {{'Général Adjoint'|trans}} : {{'F.MRINI'|trans}}
                                    <BR> {{'Trésorier'|trans}}  : {{ 'M.JAMAI'|trans }}
                                    <BR> {{'Trésorier Adjoint'|trans}} : {{ 'A.OUARDANI'|trans }}
                                    <BR> {{ 'Assesseur'|trans }} : {{ 'K EL ALJ'|trans }} </p>

                            </div>
                        </div>
                        <div class="s-12 m-12 l-4 margin-m-bottom">
                            <div class="padding-2x background-primary">



                                <p class="margin-bottom-30">
                                    {{'Président'|trans}} : {{ 'J.BENNANI'|trans }}
                                    <BR> {{'Vice Président'|trans}} : {{ 'A.DACHMI'|trans }}
                                    <BR> {{'Secrétaire Général'|trans}}  : {{ 'H.TYAL'|trans }}
                                    <BR> {{'Secrétaire Général Adjoint'|trans}} : {{ 'M.JAMAI'|trans }}
                                    <BR> {{'Trésorier'|trans}} : {{ 'K.EL ALJ'|trans }}
                                    <BR> {{'Trésorier Adjoint'|trans}}  : {{ 'A.OUARDANI'|trans }}
                                    <BR> {{ 'Assesseur'|trans }} : {{ 'F.MRINI'|trans }}</p>

                            </div>
                        </div>
                        <div class="s-12 m-12 l-4 margin-m-bottom">
                            <div class="padding-2x background-primary">


                                <p class="margin-bottom-30">
                                    {{'Président'|trans}}  : {{ 'F.MRINI'|trans }}
                                    <BR> {{'Vice Président'|trans}}  : {{ 'Souad HAMDANI'|trans }}
                                    <BR> {{'Secrétaire Général'|trans}} : {{ 'H.TYAL'|trans }}
                                    <BR> {{'Secrétaire Général Adjoint'|trans}}  : {{ 'Nadia JAMAI'|trans }}
                                    <BR> {{'Trésorier'|trans}}  : {{ 'K. EL ALJ'|trans }}
                                    <BR> {{'Trésorier Adjoint'|trans}}  : {{ 'Mohamed JAMAI'|trans }}
                                    <BR> {{ 'Assesseur'|trans }}  : {{ 'Delphine BOINET RZIZA'|trans }}</p>

                            </div>
                        </div>

                        <h2 class="text-size-40 margin-bottom-30 text-center">{{ 'Le bureau de l\'exercice du 2011 au 07/12/2013 :'|trans}}</h2>
                        <div class="s-12 m-12 l-12 margin-m-bottom">
                            <div class="padding-2x background-primary">



                                <p class="margin-bottom-30">
                                    {{'Président'|trans}} : {{ 'Dr Ahmed Farid MERINI'|trans }}
                                    <BR> {{'Vice-Président'|trans}} : {{ 'Dr Mohamed Hachem TYAL'|trans }}
                                    <BR> {{'Secrétaire Général'|trans}} : {{ 'Delphine BOINET RZIZA'|trans }}
                                    <BR> {{'Secrétaire Général Adjoint'|trans}} : {{ 'Genevieve Gilbert'|trans }}
                                    <BR> {{'Trésorier'|trans}} : {{ 'Amal BOUHMIDA-BISES'|trans }}
                                    <BR> {{'Trésorier Adjoint'|trans}} : {{ 'Nadia JAMAI'|trans }}


                            </div>
                        </div>


                        <h2 class="text-size-40 margin-bottom-30 text-center">{{'Membres Associés'|trans}}</h2>
                        <div class="margin">
                            <div class="s-12 m-12 l-12 margin-m-bottom">
                                <div class="padding-2x background-primary">

                                    <p class="margin-bottom-30">
                                        {{ 'Mustapha SAFOUAN'|trans }}
                                        <BR> {{ 'Claude DUMEZIL'|trans }}
                                        <BR> {{ 'Roland GORI'|trans }}
                                        <BR> {{ 'Patrick GUYOMARD'|trans }}
                                        <BR> {{ 'Jean Richard FREYMANN'|trans }}
                                        <BR> {{ 'Fethi BENSLAMA'|trans }}</p>

                                </div>
                            </div>

                        </div>
                    </div>



    </section>


    <script type="text/javascript" src="../assets/js/responsee.js"></script>
    <script type="text/javascript" src="../assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="../assets/js/template-scripts.js"></script>
{% endblock %}