<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Cercle est une application permettant d'échanger de discuter, de débattre ou bien tout simplement donner son avis sur tout ou rien"/>
    <meta name="keywords" content="Réseau social,échange,exprimer,débat">
    <meta name="author" content="Said LITIM"/>
    <meta name="theme-color" content="#007bff">
    <!--REFERENCEMENT FACEBOOK-->
    <meta property="og:title" content="Bievenue dans le cercle!"/>
    <meta property="og:url" content="XXX"/>
    <meta property="og:description" content="Un endroit ou échange est le maitre mot"/>

    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css"/>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
              rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css"
              rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    {% endblock %}
    <style>

        .bootstrap-tagsinput .tag {
            background-color: #007bff;
            padding: 3px;
            border-radius: 3px;
        }

        .user {
            font-family: 'Righteous', cursive;
        }

        .badge-light {
            font-family: 'Fredoka One', cursive;
        }


        @media (max-width: 640px) {
            .rowform {
                margin: auto;
            }

            .news {
                width: 100%;
            }
        }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
    <div class="container">
        <img class="logo-dark" src="../assets/img/logo_spm.png" alt="" style="vertical-align: middle !important;
    border-style: none !important;">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}" style="font-size: 22px; color: black ;font-family: Impact">
                        {{ 'Accueil'|trans }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('reseaus') }}" style="font-size: 22px; color: black ;font-family: Impact">
                        {{ 'Publications'|trans }}</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('post_create') }}" style="font-size: 22px; color: black ;font-family: Impact">{{ 'Exprimez vous'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" style="font-size: 22px; color: black ;font-family: Impact">{{'Déconnexion'|trans}}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}" style="font-size: 22px; color: black ;font-family: Impact">
                            {{ 'Connexion'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}" style="font-size: 22px; color: black ;font-family: Impact">{{'Créer un compte'|trans}}</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}" style="font-size: 22px; color: black ;font-family: Impact">{{ 'Gestion des Utilisateurs'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_posts_index') }}" style="font-size: 22px; color: black ;font-family: Impact">{{ 'Gestion des Annonces'|trans }}</a>
                    </li>

                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if app.request.locale == 'fr' %}Russian{% else %}English{% endif %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        {# Check if there is a route and some parameters in the request #}
                        {% if app.request.get('_route') is not empty and app.request.get('_route_params') is not null %}

                            {# English #}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
                            {# Russian #}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Russian</a>

                            {# If there is no route in the request, redirect to the homepage #}
                        {% else %}

                            {# English #}
                            <a href="{{ path('homepage', {'_locale': 'en'}) }}">EN</a>
                            {# Russian #}
                            <a href="{{ path('homepage', {'_locale': 'fr'}) }}">FR</a>

                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-sm-12">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5018656bb5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

    <script>

        function onClickLike(event) {
            event.preventDefault();
            fetch(this.href)
                .then(data => {
                    return data.json()
                })
                .then(res => {
                    const likes = res.likes;

                    this.querySelector('span.js-likes').textContent = likes;
                    const icone = this.querySelector('i');
                    if (icone.classList.contains('fas')) {
                        icone.classList.replace('fas', 'far');
                        this.querySelector('span.js-label').textContent = 'J\'aime'
                    } else {
                        icone.classList.replace('far', 'fas');
                        this.querySelector('span.js-label').textContent = 'Je n\'aime plus'
                    }
                })
                .catch(error => console.log(error))
        }


        document.querySelectorAll('.btn-link').forEach(function (link) {

            link.addEventListener('click', onClickLike);


        })

        $(".dynchoice").tagsinput(
            {
                trimValue: true
            }
        );


        $(document).on('change', '#post_img', function () {
            let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
        });

    </script>
{% endblock %}
</body>
</html>